# This is Git's per-user configuration file.
[user]
	name = dannie16
	mail = danniegithub16@gmail.com
# Please adapt and uncomment the following lines:
#	name = dannie16
#	email = danniegithub16@gmail.com
